<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td> <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.followings.count %></td>
			  <td>フォロワー数：<%= user.followers.count %></td>
			  <td>
			    <% unless current_user == user %>
				    <% if current_user.following?(user) %>
				      <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
  				      <%= hidden_field_tag :follow_id, user.id %>
  				      <%= f.submit 'フォロー外す' %>
  				    <% end %>
  				  <% else %>
  				      <%= form_for(current_user.relationships.build) do |f| %>
  				      <%= hidden_field_tag :follow_id, user.id %>
  				      <%= f.submit 'フォローする' %>
  				    <% end %>
  				  <% end %>
  				<% end %>
  			</td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>