<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fecc176acc.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container" style="margin-top: 70px">
      <p id="notice"><%= notice %></p>
    <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>